<!doctype html>
<html>
<head>
  <title> Title</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css' />
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>
<body>