<% include ./partials/head %>

<div class="container">

      <div class="page-header text-center">
        <h1> User Dashboard</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
          <div class="well">
            <h3>Username </h3>

            <p>
              <% var userObject = JSON.stringify(user, 0, 3); %>
              <pre>
                <%= userObject %>
              </pre>
            </p>

          </div>
        </div>

      </div>

</div>
<% include ./partials/footer %>