<!-- views/index.ejs -->
<% include ./partials/head %>
  <div class="container">

    <div class="jumbotron text-center">
      <h1> Homepage</h1>

      <p>Login or Register with:</p>

      <a href="/user/login" class="btn btn-default">
        <span class="fa fa-user"></span> Login</a>
      <a href="/user/signup" class="btn btn-default">
        <span class="fa fa-user"></span> Signup</a>
    </div>

  </div>
<% include ./partials/footer %>